* {
	margin: 0;
	padding: 0;
}

.clear {
	overflow: hidden;
}

.pull-left {
	float: left;
}

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 794px;
}

.banner ul {
    width: auto;
}

.banner ul li {
    float: none;
    list-style: none;
    position: absolute;
    width: 100%;
    z-index: 0;
    display: none;
}

.banner ul li.active {
    display: block;
}

.banner ul li a {
    display: block;
    width: 100%;
    height: 794px;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner_arrow a {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.banner_arrow {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    transition: ease-out 0.3s;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    cursor: pointer;
    -ms-transition: ease-in 0.3s;
    z-index: 99;
}

#banner_prev {
    left: 0;
    background: #000 url(../images/arrow_left_banner.png) center center no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

#banner_next {
    right: 0;
    background: #000 url(../images/arrow_right_banner.png) center center no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}